In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('F:\\Academic\\Research\\alpha\\data_primary\\FACS\\Liver-counts.csv')
df = df.rename({'Unnamed: 0': 'gene_name'}, axis=1)  # rename 1st column
df

,gene_name,F18.MAA000377.3_9_M.1.1,J20.MAA000377.3_9_M.1.1,F19.MAA000377.3_9_M.1.1,J21.MAA000377.3_9_M.1.1,F20.MAA000377.3_9_M.1.1,J22.MAA000377.3_9_M.1.1,G11.MAA000377.3_9_M.1.1,K9.MAA000377.3_9_M.1.1,G13.MAA000377.3_9_M.1.1,...,A2.MAA100042.3_9_M.1.1,C4.MAA100042.3_9_M.1.1,A5.MAA100042.3_9_M.1.1,C6.MAA100042.3_9_M.1.1,A6.MAA100042.3_9_M.1.1,C7.MAA100042.3_9_M.1.1,A9.MAA100042.3_9_M.1.1,C9.MAA100042.3_9_M.1.1,A10.MAA100042.3_9_M.1.1,C10.MAA100042.3_9_M.1.1
0,0610005C13Rik,0,0,0,0,0,0,0,0,168,...,0,99,0,292,0,310,392,220,0,0
1,0610007C21Rik,0,0,0,0,2,58,1,0,0,...,0,753,0,630,1,768,527,129,0,0
2,0610007L01Rik,23,0,0,0,0,0,1,5,0,...,0,0,0,35,0,90,0,23,0,0
3,0610007N19Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0610007P08Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23428,Zzef1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,98,0,0,0,0
23429,Zzz3,0,191,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23430,a,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23431,l7Rn6,0,0,0,0,70,0,44,0,0,...,0,0,0,109,1,74,0,16,0,0
23432,zsGreen_transgene,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# new_df.set_index('gene_name') # change index

In [12]:
singleGeneAmountThreshold = 10
new_df = df.drop(df.index[(df.iloc[:,1:].sum(axis = 1) < singleGeneAmountThreshold)]) # remove all that has 0 value in all column
new_df.reset_index(drop=True, inplace=True) # resetting all index
print(f"Matrix: {new_df.shape}")

Matrix: (15615, 982)

In [14]:
geneIndexs = []
miGeneCount = 0


for i in range(new_df.gene_name.size):
    if(new_df.gene_name[i][:3] == 'Mir'):
        geneIndexs.append(i)


print(f"total number of microRNAs count: {len(geneIndexs)}")
print(f"single gene total amount threshold: {singleGeneAmountThreshold}")

total number of microRNAs count: 100
single gene total amount threshold: 10

In [20]:
miRNA_bulk = new_df.iloc[geneIndexs]
mRNA_bulk = new_df.drop(geneIndexs)

print(f"miRNA_bulk Shape: {miRNA_bulk.shape}")
print(f"mRNA_bulk Shape: {mRNA_bulk.shape}")

miRNA_bulk Shape: (100, 982)
mRNA_bulk Shape: (15515, 982)

In [22]:
miRNA_bulk.to_csv('data_primary/miRNA_bulk.csv')
mRNA_bulk.to_csv('data_primary/mRNA_bulk.csv')