In [7]:
import pandas as pd
import numpy as np
import os

from scipy import stats

In [8]:
cwd = os.getcwd()

df_mRNA = pd.read_csv(f'{cwd}\\data_primary\\mRNA_bulk.csv')
df_mRNA = df_mRNA.drop('Unnamed: 0',axis=1)

df_miRNA = pd.read_csv(f'{cwd}\\data_primary\\miRNA_bulk.csv')
df_miRNA = df_miRNA.drop('Unnamed: 0',axis=1)

df_miRNA

,gene_name,F18.MAA000377.3_9_M.1.1,J20.MAA000377.3_9_M.1.1,F19.MAA000377.3_9_M.1.1,J21.MAA000377.3_9_M.1.1,F20.MAA000377.3_9_M.1.1,J22.MAA000377.3_9_M.1.1,G11.MAA000377.3_9_M.1.1,K9.MAA000377.3_9_M.1.1,G13.MAA000377.3_9_M.1.1,...,A2.MAA100042.3_9_M.1.1,C4.MAA100042.3_9_M.1.1,A5.MAA100042.3_9_M.1.1,C6.MAA100042.3_9_M.1.1,A6.MAA100042.3_9_M.1.1,C7.MAA100042.3_9_M.1.1,A9.MAA100042.3_9_M.1.1,C9.MAA100042.3_9_M.1.1,A10.MAA100042.3_9_M.1.1,C10.MAA100042.3_9_M.1.1
0,Mir100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Mir107,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mir1191,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Mir1192,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Mir1195,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Mirlet7b,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,Mirlet7c-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,Mirlet7d,0,0,0,0,22,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,Mirlet7f-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,Mirlet7g,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_miRNA.iloc[:,1:].sum(axis = 1)[0:50]

0     455
1      11
2      79
3     669
4      16
5      57
6      70
7      25
8     819
9      33
10     36
11     30
12    334
13     23
14     69
15    690
16     13
17     89
18     11
19     79
20    182
21     34
22     58
23     11
24     11
25     12
26    357
27     31
28     18
29    255
30     11
31     92
32     82
33     13
34    114
35     83
36     12
37     12
38     26
39     14
40    249
41     48
42     27
43     53
44     31
45     15
46     30
47     79
48    158
49     24
dtype: int64

In [10]:
temp_mir126 = df_miRNA.set_index('gene_name').T
temp_mir126 = temp_mir126.Mir126

In [11]:
temp_allgenes = df_mRNA.drop(df_mRNA.index[(df_mRNA.iloc[:,1:].sum(axis = 1) < 100)])
temp_allgenes = temp_allgenes.set_index('gene_name').T

In [23]:
r, p = stats.pearsonr(temp_mir126, temp_allgenes.iloc[:,1])

In [27]:
corr_df = pd.DataFrame(columns=['r', 'p'])

for col in temp_allgenes:
    r, p = stats.pearsonr(temp_mir126, temp_allgenes[col])
    corr_df.loc[col] = [round(r, 3), round(p, 3)]

In [50]:
corr_df[(corr_df.r>0.3)]

            r    p
Acer2   0.330  0.0
Add3    0.332  0.0
App     0.384  0.0
Aqp1    0.452  0.0
Arap3   0.348  0.0
...       ...  ...
Tspan7  0.399  0.0
Ubqln2  0.340  0.0
Wnt2    0.434  0.0
Zfp449  0.357  0.0
Zfp9    0.334  0.0

[117 rows x 2 columns]

In [54]:
corr_df[(corr_df.p>0.3)]

                   r      p
0610007C21Rik -0.012  0.710
0610007L01Rik -0.008  0.810
0610007N19Rik -0.015  0.643
0610007P08Rik -0.004  0.909
0610008F07Rik -0.028  0.381
...              ...    ...
Zyg11a        -0.012  0.718
Zyg11b        -0.009  0.785
Zyx            0.007  0.837
Zzz3           0.015  0.634
l7Rn6         -0.006  0.848

[7624 rows x 2 columns]